.menu {
    max-width: 100%;
    height: 100%;
    margin: auto;



}

.header {
    max-width: 100%;
    width: 1330px;

    height: 80px;

    display: grid;
    grid-template-columns: auto auto auto;
    position: fixed;
    left: auto;
    top: 0px;
    background-color: aqua;
    z-index: 90000;
}





.lol {
    max-width: 100%;
    height: 100%;
    display: grid;
    color: aqua;
    margin: auto;
    grid-template-columns: auto auto auto auto;
    align-items: center;

}

.lol ol {
    font-size: 6 0px;

}

.lol ol button {
    width: 80px;
    height: 30px;
    border: 0px solid red;
    background-color: aqua;
    color: black;
    font-size: 20px;
    border-radius: 10px;
}

.lol ol :hover {
    width: 100;
    color: black;
    background-color: white;
    border: 1px solid black;
    transform: scale(1.1);
    transition: 0.5s;
}

.lol ol :active {
    color: blue;

}


.lop {
    margin: auto;

}

.lop ol a img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.lop ol :hover {
    max-width: 120%;
    height: 120%;
    border-radius: 10px;
    background-color: black;
}

.lol18 {
    margin: auto;
    width: 0%;
    height: 0%;
}

.lol18 ol img {
    max-width: 100%;
    height: 100%;
    background-color: black;
}

.ortasi {
    max-width: 1000%;
    height: 400px;

    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
}

.ok h1 {
    font-size: 50px;
}

.ok p {

    font-size: 20px;
}

.ok ol:hover {

    transform: scale(1.1);
    transition: 1s;


}

.ok ol button {
    border: 0px solid red;
}





.kok {
    max-width: 300px;
    height: 300px;
    margin: auto;

}

.kok :hover {


    margin: auto;
}



.kok :hover {
    transform: scale(1.15);
    transition: 1s;
}


.boq :hover {
    transform: scale(1);

}

.boq:hover {
    transform: scale(1.2);
    transition: 0.5s;
    z-index: 800;
}








.kok img {
    max-width: 100%;

}

.ok {
    margin: auto;

}

.ok button {
    width: 150px;
    height: 40px;
    background: #8643DC;
    border-radius: 120px
}

.lol ol {
    font-size: 2 0px;

}

.box8 {
    max-width: 280px;
    height: 130px;

    margin-left: 100px;
}

.box8 {
    font-size: 20px;

}

.oxirrogi {
    max-width: 100%;

    height: 300px;
}

.box9 {
    padding-top: 300px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;

}

.man1 {
    max-width: 300px;
    height: 100%;

    margin: auto;


    animation: anim 2s linear 2s infinite alternate;

}


.man1 h3 {
    font-size: 25px;
    display: flex;

}

.man1 p {
    font-size: 15px;

}

.man1 h3 img {
    width: 30px;
    height: 30px;
}

.boshi1 {
    max-width: 100%;
    height: 500px;


}

.boshi1 h2 {
    max-width: 150px;
    height: 50px;

    margin-left: 20px;
}

.boshi1 ol a {
    margin-left: 700px;
    align-items: center;

}

.boshi1 .il {
    display: flex;

}

.boshi1 .rasm img {
    max-width: 400px;
    height: 400px;
    margin: auto;

}

.boshi1 .rasm {
    margin-left: 70px;

}

.oxiri {
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10%;

}

.men1 {
    margin-left: 50px;

}

.men2 {
    display: flex;
    margin: auto;
}

.boq {
    margin: auto;

}

.kot {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: auto;

}

.oxirrogi1 {

    max-width: 100%;
    height: 100%;
    border: 2px solid red;

}

.pol1 {
    max-width: 100%;
    height: 100%;
    border: 2px solid red;

    display: grid;
    grid-template-columns: auto auto;
}

.p1 {
    max-width: 60%;
    height: 100%;

    margin: auto;
}

.p1 h1 {
    color: #21232D;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 52px;
    word-wrap: break-word
}

.p2 {
    max-width: 100%;
    height: 100%;
    margin: auto;
    margin-right: 200px;
}

.p2 ol {

    color: #8643DC;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    text-decoration: underline;
    text-transform: lowercase;
    word-wrap: break-word
}

.ishlar {
    padding-top: 40px;
    max-width: 100%;
    height: 100%;

}

.poc1 {
    max-width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.non2 {

    max-width: 65%;
    height: 90%;
    background-color: #0F1624;
    margin: auto;
    margin-top: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px
}



.non2 ol button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0px solid red;
    font-size: 25px;
}

.non2 ol :hover {
    background-color: aqua;

    transform: scale(1.1);
    transition: 0.5s;
    color: white;
}


.non3 {

    max-width: 65%;
    height: 100%;
    background-color: #0F1624;
    margin: auto;
    margin-top: 80px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px
}



.non3 img {
    margin: auto;
    max-width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.non2 h1 {
    color: white;
    font-size: 36px;
    font-family: Poppins;
    margin-left: 22%;
    font-weight: 600;
    line-height: 31.86px;
    word-wrap: break-word
}

.non3 h1 {
    color: white;
    font-size: 36px;
    font-family: Poppins;
    margin-left: 22%;
    font-weight: 600;
    line-height: 31.86px;
    word-wrap: break-word
}

.non2 p {
    max-width: 85%;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    margin: auto;
}

.non3 p {
    color: white;
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word
}

.oxiri6 {
    max-width: 90%;
    height: 100%;

    margin: auto;
    background-color: #191919;
    border-radius: 20px;
    animation: mol 2s linear 2s infinite alternate;

}

.l {
    max-width: 40%;
    height: 100%;
    margin: auto;

}

.l h1 {
    color: white;
    justify-content: center;
    align-items: center;
}

.l p {
    color: white;
    align-items: center;
    justify-content: center;
}

.hok {
    max-width: 100%;
    height: 100%;
    background-color: #191919;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: auto;
    border-radius: 20px;
}

.kol2 {
    max-width: 100%;
    height: 100%;

    padding: 30px;
    border-radius: 50px;
}

.kol2 img {
    max-width: 70%;
    height: 70%;
    border-radius: 20px;
}

.kol2 :hover {
    transform: scale(1.2);
    transition: 0.5s;



}

.oxiri8 {
    max-width: 100%;
    height: 100%;
    display: grid;
    margin-top: 20%;
    grid-template-columns: auto auto;
    padding-top: 10%;
background-color: #191919;
}

.sos {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.sos h1{
color: white;

}
.sos1 {
    max-width: 100%;
    height: 100%;
margin-left: 20px;
}

.sos1 img {
    max-width: 70%;
    height: 70%;
    margin: auto;
    padding-left: 0px;
    border-radius: 30px;
}


.sos1 :hover {

    transform: scale(1.2);
    transition: 0.1s;

}


















@keyframes anim {
    50% {
        transform: translate(0px, 10px);
    }

    100% {


        transform: translate(0px, 0px);
    }


}



@keyframes mol {
    0% {
        transform: translate(20px, 0px);

    }

    50% {
        transform: translate(0px, 0px);
    }

    100% {


        transform: translate(20px, 0px);
    }


}




@media screen and (max-width:1150px) {
    .poc1{
grid-template-columns: auto auto;

    }


}
@media screen and (max-width:800px) {
    .poc1{
grid-template-columns: auto;

    }

}





@media screen and (max-width:700px) {
    .header {
        grid-template-columns: auto auto;
    }

    .ortasi {
        grid-template-columns: auto;
    }

    .kot {
        grid-template-columns: auto auto auto auto;
    }

    .poc1 {
        grid-template-columns: auto;
    }

    .box9 {
        grid-template-columns: auto auto;
    }

    .poc1 {
        height: 1000px;
    }

    .men2 {
        margin-top: 50%;

    }

    .hok {
        grid-template-columns: auto auto auto;
    }

    .sos {
        grid-template-columns: auto;
    }
}

@media screen and (max-width:500px) {
    .header {
        height: 100px;

    }

    .men2 {
        margin-top: 100%;

    }

    .hok {
        grid-template-columns: auto auto;
    }

    .lol {
        grid-template-columns: auto auto;

    }
.lol ol button{
    padding-top: -10px;
}

}




@media screen and (max-width:400px) {
    .header {
        grid-template-columns: auto auto;
    }

    .lol18 {
        margin-right: 10px;
        width: 100%;
        height: 100%;
    }


    .lol {
        animation: anim 1s;
    }

    .kot {
        grid-template-columns: auto auto;
    }
    .box9 {
        margin-top: 50%;
        grid-template-columns: auto;
    }
    .hok {
        grid-template-columns: auto;
    }

    .oxiri8 {
        grid-template-columns: auto;
    }

    .sos1 img {
        max-width: 70%;
        height: 80%;
    }
}