.menu {
    max-width: 1000px;
    height: 100%;
    border: 2px solid red;
    margin: auto;
}

.boshi {
    max-width: 1000px;
    height: 100%;


    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

nav {
    margin: auto;

}

nav button {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #DC780B;
    border-radius: 5px
}

.ortasi {
    max-width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;

}

.lol1 {
    max-width: 80%;
    height: 100%;


}

.lol1 button {

    background-color: #DC780B;
    width: 20%;
    height: 40px;
    margin: auto;
    border-radius: 5px
}



.ortasi img {
    max-width: 100%;
    height: 100%;
    font-size: large;

}

.features {
    max-width: 100%;
    height: 100%;
    margin-left: 20px;

}

.lol3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.box {
    max-width: 80%;
    height: 100%;


    margin: auto;
    margin-top: 20px;
}

.aboutus {
    margin-left: 20px;
    max-width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto auto;
}

.aboutus img {
    max-width: 100%;
    border-radius: 40px;
}

.lol4 button {
    width: 100px;
    height: 30px;
    background-color: #DC780B;
    color: white;
    border-radius: 5px
}


.lol4 {
    max-width: 80%;
    height: 100%;
    margin-left: 50px;

}

.menusi {
    max-width: 100%;
    height: 100%;

    margin-top: 50px;
}

.menusi h1 {
    margin: auto;
}

.boxs2 {
    max-width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    margin-top: 40px;
}

.box1 {
    max-width: 90%;
    height: 100%;

    margin: auto;

}

.box1 img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

.learnmore {
    max-width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto auto;
}

.box7 {
    max-width: 100%;
    max-height: 100%;

    margin: auto;
    margin-top: 20px;
}

.box6 {
    max-width: 70%;
    height: 100%;

}

.oxiri2 {
    max-width: 100%;
    height: 100%;
    margin-top: 50px;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.box0 h3 {
    color: white;

}

.box0 p {
    color: white;
    margin-top: 20px;
}

.box0 {
    max-width: 50%;
    height: 100%;
    margin: auto;
}






@media screen and (max-width:700px) {
    .boshi {
        grid-template-columns: auto auto auto;

    }

    .ortasi {
        grid-template-columns: auto;

    }

    .lol3 {
        grid-template-columns: auto auto;

    }

    .aboutus {
        grid-template-columns: auto;

    }

    .aboutus img {
        max-width: 60%;
        margin: auto;
    }

    .lol4 {
        margin-top: 20px;

    }

    .boxs2 {
        grid-template-columns: auto auto;

    }

    .learnmore {
        grid-template-columns: auto;

    }

    .oxiri2 {
        grid-template-columns: auto auto;


    }


}


@media screen and (max-width:400px) {
    .boshi {
        grid-template-columns: auto;

    }

    .oxiri2 {
        grid-template-columns: auto;


    }




}



@media screen and (max-width:300px) {
    .lol3 {
        grid-template-columns: auto;

    }

    .aboutus {
        grid-template-columns: auto;

    }

    .aboutus img {
        max-width: 80%;
        margin: auto;
    }

    .lol4 {
        margin-top: 20px;

    }

    .lol4 h1 {
        font-size: 25px;
    }

    .lol4 button {
        size: 15px;
    }

    .boxs2 {
        grid-template-columns: auto;

    }

    .oxiri2 {
        grid-template-columns: auto;


    }


}