.menu {
    max-width: 100%;
    height: 100%;
    margin: auto;



}

.header {
    max-width: 100%;
    width: 1330px;

    height: 80px;

    display: grid;
    grid-template-columns: auto auto auto;
    position: fixed;
    left: auto;
    top: 0px;
    background-color: aqua;
    z-index: 90000;
}

.cantaynr_h1 {
    background: var(--Gradient-Heading,
            linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%));
    color: white;
    border-radius: 5px;
    padding: 0 5px;
}



.lol {
    max-width: 100%;
    height: 100%;
    display: grid;
    color: aqua;
    margin: auto;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;

}


.l {
    max-width: 100%;

    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 6 0px;

}
.l ol button{
    max-width: 100%;
    border-radius: 20px;
}

.lol ol button {

    color: #7E7F86;
    font-family: "Red Hat Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: aqua;
    border: 0px solid red;
}

.lol ol :hover {

    color: #25202F;

    transform: scale(1.2);
    transition: 0.5s;


}

.lol ol :active {
    color: blue;

}


.lop {
    margin: auto;

}

.lop ol a img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;

}

.lop ol :hover {
    max-width: 120%;
    height: 120%;
    border-radius: 10px;
    background-color: black;
}

.lol18 {
    margin: auto;
    width: 0%;
    height: 0%;
}

.lol18 ol img {
    max-width: 100%;
    height: 100%;
    background-color: black;
}

.ortasi {
    max-width: 1000%;
    height: 400px;

    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
}

.ok h1 {
    font-size: 50px;
    font-style: oblique;
}

.ok p {

    font-size: 30px;
    font-style: oblique;
}



.ok ol button {
    border: 0px solid red;
    color: #FFF;
    margin-left: -50px;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    background: var(--Gradient-Heading,
            linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%));


    width: 200px;
    height: 60px;
    flex-shrink: 0;
}





.kok {
    max-width: 300px;
    height: 300px;
    margin: auto;
    margin: 10%;
    background-color: white;
    border-radius: 200px;
}

.kok :hover {


    transform: scale(1.1);
    transition: 0.5s;
    margin: auto;
}

.boq :hover {
    transform: scale(1);

}

.boq:hover {
    transform: scale(1.2);
    transition: 0.5s;
    z-index: 800;
}

.kok img {
    max-width: 100%;
    border-radius: 200px;
}

.ok {
    margin: auto;

}

.ok p {
    font-size: 30px;

}

.ok button {
    width: 150px;
    height: 40px;
    background: #8643DC;
    border-radius: 120px
}

.lol ol {
    font-size: 2 0px;

}

.box8 {
    max-width: 280px;
    height: 130px;

    margin-left: 100px;
}

.box8 {
    font-size: 20px;

}

.oxirrogi {
    max-width: 100%;

    height: 300%;
}

.box9 {
    padding-top: 700px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;

}

.man1 {
    max-width: 300px;
    height: 100%;

    margin: auto;


    animation: anim 2s linear 2s infinite alternate;

}


.man1 h3 {
    font-size: 25px;
    display: flex;

}

.man1 p {
    font-size: 15px;

}

.man1 h3 img {
    width: 30px;
    height: 30px;
}

.boshi1 {
    max-width: 100%;
    height: 500%;


}

.boshi1 h2 {
    max-width: 150px;
    height: 50px;

    margin-left: 20px;
}

.boshi1 ol a {
    margin-left: 700px;
    align-items: center;

}

.boshi1 .il {
    display: flex;

}

.boshi1 .rasm img {
    max-width: 400px;
    height: 400px;
    margin: auto;

}

.boshi1 .rasm {
    margin-left: 70px;

}






.ishlar {
    padding-top: 40px;
    max-width: 100%;
    height: 100%;
    margin-top: 200px;

}

.poc1 {
    max-width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.non2 {

    max-width: 65%;
    height: 90%;
    background-color: #0F1624;
    margin: auto;
    margin-top: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px
}



.non2 ol button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0px solid red;
    font-size: 25px;
}

.non2 ol :hover {
    background-color: aqua;

    transform: scale(1.1);
    transition: 0.5s;
    color: white;
}


.non3 {

    max-width: 65%;
    height: 100%;
    background-color: #0F1624;
    margin: auto;
    margin-top: 80px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px
}



.non3 img {
    margin: auto;
    max-width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.non2 h1 {
    color: white;
    font-size: 36px;
    font-family: Poppins;
    margin-left: 22%;
    font-weight: 600;
    line-height: 31.86px;
    word-wrap: break-word
}

.non3 h1 {
    color: white;
    font-size: 36px;
    font-family: Poppins;
    margin-left: 22%;
    font-weight: 600;
    line-height: 31.86px;
    word-wrap: break-word
}

.non2 p {
    max-width: 85%;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    margin: auto;
}

.non3 p {
    color: white;
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word
}

.oxiri6 {
    max-width: 90%;
    height: 100%;

    margin: auto;
    background-color: #191919;
    border-radius: 20px;
    animation: mol 2s linear 2s infinite alternate;
}

.l {
    max-width: 40%;
    height: 100%;
    margin: auto;
}

.about_me {
    text-align: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    color: rgb(165, 132, 93);
    margin-bottom: 130px;
}

.heandbreake {
    max-width: 80%;
    height: 30%;
    border-radius: 30px;
    margin: auto;
    margin: 20px;
}

.heandbreake img {
    max-width: 100%;
    height: 100%;
    border-radius: 50px;
}

.about_me h1 {
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
}

.about_me a {
    list-style: none;
    color: red;
}

.about_me p {
    font-size: 30px;
    margin-bottom: 150px;
    color: rgb(24, 22, 22);

}

.l_h1 {
    max-width: 500%;
    margin: auto;
    color: white;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 50px;
}

.hok {
    max-width: 100%;
    height: 100%;
    background-color: #191919;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: auto;
    border-radius: 20px;
}

.kol2 {
    max-width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 50px;
}

.kol2 img {
    max-width: 70%;
    height: 70%;
    border-radius: 20px;
}

.kol2 :hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.illl {
    max-width: 100%;
    height: 100%;

}

.il {
    max-width: 60%;
    justify-content: center;
    color: #25202F;
    margin: auto;
    font-style: italic;
    font-family: "Red Hat Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.oxiri8 {
    max-width: 100%;
    height: 100%;
    display: grid;
    margin-top: 20%;
    grid-template-columns: auto auto;
    padding-top: 10%;
    background-color: #191919;

}

.sos {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 120px;
}

.sos h1 {
    color: white;

}

.sos1 {
    max-width: 100%;
    height: 100%;
    margin-left: 20px;
}

.sos1 img {
    max-width: 70%;
    height: 70%;
    margin: auto;
    padding-left: 0px;
    border-radius: 30px;
}

.sos1 :hover {

    transform: scale(1.2);
    transition: 0.1s;

}

@media screen and (max-width:1150px) {
    .header{
        height: 100px;
    }
    .about_me {
        margin-top: 1000px;

    }
    .kok{
        margin-top: 100px;
    }
    .poc1 {
        grid-template-columns: auto auto;

    }
}
@media screen and (max-width:1000px) {
    .l{
grid-template-columns: auto auto;
margin-top: -10px;
padding-top: -50px;
    }

}

@media screen and (max-width:900px) {
    .box9 {
        margin-top: 20%;

    }

}


@media screen and (max-width:800px) {
    .about_me {
        margin-top: 1200px;

    }

    .box9 {
        margin-top: 100%;

    }

    .poc1 {
        grid-template-columns: auto;

    }

}

@media screen and (max-width:700px) {
    .header {
        grid-template-columns: auto auto;

    }
   

    .ortasi {
        grid-template-columns: auto;
        margin-top: 100px;
    }

    .kot {
        grid-template-columns: auto auto auto auto;
        margin-top: 300px;
    }

    .ishlar {
        margin-top: 300px;
    }

    .poc1 {
        grid-template-columns: auto;
    }

    .box9 {
        grid-template-columns: auto auto;
    }

    .poc1 {
        height: 1000px;
    }

    .men2 {
        margin-top: 50%;

    }

    .hok {
        grid-template-columns: auto auto auto;
    }

    .sos {
        grid-template-columns: auto;
    }

    .sos1 {
        max-width: 100%;
        height: 50%;
        margin-left: 20px;
    }
}
@media screen and (max-width:650px) {

    .header {
        height: 140px;

    }

.l{
grid-template-columns: auto;

}
.l ol{
    max-width: 100%;
    
   
    margin-top: -5px;
}
.l ol button{
font-size: 20px;

padding-top: -100px;
}
.ortasi{
    margin-top: 250px;
}



}
@media screen and (max-width:500px) {
    .header {
        height: 150px;

    }
    .l{
     margin-top: 8px;
     margin-left: -10px;
        }

    .men2 {
        margin-top: 100%;

    }

    .hok {
        grid-template-columns: auto auto;
    }

    .box9 {
        grid-template-columns: auto;
        margin-top: 200%;
    }

    .lol {
        grid-template-columns: auto auto;

    }

    .lol ol button {
        padding-top: -10px;
    }

    .sos1 {
        max-width: 100%;
        height: 30%;
        margin-left: 20px;
    }
}

@media screen and (max-width:450px) {
    .kok {
        max-width: 200px;
        height: 200px;
        margin: auto;
        margin-top: 50px;
        background-color: white;
        border-radius: 200px;
    }

    .about_me {
        margin-top: 2400px;

    }

    .box9 {
        padding-top: 150%;
    }
}

@media screen and (max-width:420px) {
    .box9 {
        margin-top: 1200px;
    }
}

@media screen and (max-width:400px) {
    .header {
        grid-template-columns: auto auto;
    }

    .lol18 {
        margin-right: 10px;
        width: 100%;
        height: 100%;
    }


    .lol {
        animation: anim 1s;
    }

    .kot {
        grid-template-columns: auto auto;
    }

    .box9 {
        margin-top: 50%;
        grid-template-columns: auto;
    }

    .box9 {
        margin-top: 200px;
    }

    .hok {
        grid-template-columns: auto;
    }

    .oxiri8 {
        grid-template-columns: auto;
    }

    .sos1 img {
        max-width: 80%;
        height: 90%;
    }
}
@media screen and (max-width:350px) {
   .cantaynr_h1{
font-size: 29px;

   }
    .l{
     margin-top: 8px;
     margin-left: -35px;
        }

}